<div class="tracker-container">
     {{#if isGM}}
    <div class="round-tracker">
        <button class="prev-turn-btn" title="Previous Turn">
            <i class="fas fa-arrow-left"></i>
        </button>
        <span id="current-round">Round: {{currentRound}}</span>
        <button class="next-turn-btn" title="Next Turn">
            <i class="fas fa-arrow-right"></i>
        </button>
    </div>
    {{/if}}
    <h3><p id="character-name">Character: <span>{{characterName}}</span></p></h3>
    <div id="status-effects">
        {{#each statuses}}
        <div class="status-badge">
            <img src="{{this.icon}}" class="status-icon" title="{{this.name}}" />
        </div>
        {{/each}}
    </div>
    <p>Total Actions Used: <span id="total-actions">{{totalActions}}{{#if hasUncertainCosts}} + ?{{/if}}</span></p>
    <ul id="action-list">
        {{#each actions}}
            <li class="action-item">
                <div class="action-row">
                    <span class="action-glyphs">
                        <span class="action-glyph">{{this.cost}}</span>
                    </span>
                    <span class="action-name">{{this.name}}</span>
                </div>
                <button class="remove-action-btn" data-index="{{@index}}" title="Remove Action">
                    <i class="fas fa-xmark"></i>
                </button>
            </li>
        {{/each}}
    </ul>
</div>